body {
    font-family: 'Source Serif Pro', Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #353737;
    margin: 0;
    
}

h1 {
    color: #C79E7C;
}

p {
    font-family: arial;
    font-size: 18px;
}

.services h2 {
    font-size: 25px;
    color: #918B8D;
    font-family: Arial, Helvetica, sans-serif;
}


a:hover {

    color: #c79e7b;
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: #353737;
}

.logo {
    height: 160px;
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu {
   
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
}

.ligne_menu {
    margin-top: auto;
    margin-bottom: 40px;
    width: 50%;
    border: 0.5px solid #d1d1d1;
}

.ligne_menu2 {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 70%;
    border: 0.5px solid #d1d1d1;
}




.jumbotron {
    background-image: url(pic/chien.jpg);
    background-size: cover;
    width: 100%;
    height: 430px;
    
}


.block_description {
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    width: 700px;
    height: 300px;
    padding: 30px 60px 10px 60px;
    border: 0.5px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: 2px 1px 16px -8px rgba(0,0,0,0.55);
}



.pic {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

.titre {
    
    text-align: center;
}

.dom {
    border: 0.5px solid #d1d1d1;
    width: 30%;
    height: 30%;
    margin: 10px 10% 10px 10%;
    padding: 2%;
    border-radius: 4px;
    box-shadow: 2px 1px 16px -8px rgba(0,0,0,0.55);
    text-align: left;
}

.struc {
    border: 0.5px solid #d1d1d1;
    width: 30%;
    height: 30%;
    margin: 10px 10% 10px 10%;
    padding: 2%;
    border-radius: 4px;
    box-shadow: 2px 1px 16px -8px rgba(0,0,0,0.55);
    text-align: left;
}

.services {
    display: flex;
}

.ligne {

    border: 0.5px solid #d1d1d1;
    width: 10%;
    margin-top: -1%;
    margin-bottom: 5%;

}

.ligne_1 {

    border: 0.5px solid #d1d1d1;
    width: 20%;
    margin-top: 10%;
    margin-bottom: -10px;
}


.contact {
    display: flex;
    text-align: left;
    margin: 10%;
}
.address {
    margin-right: 20%;
    margin-top: 3%;
    font-family: arial;
    font-size: 20px;
    padding: 20px;
    border-left: 1px solid #ead0b4;
}


iframe {
    border-radius: 3px;
}



i {

  margin-left: 50%;
  margin-right: 50%;
  color:#c79e7b;  
  font-size: 60px;
  margin-bottom: 5%;

}

.formulaire p {
    font-size: 21px;
    margin-bottom: 5%;
}
.formulaire {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7%;
    border: 0.5px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: 2px 1px 16px -8px rgba(0,0,0,0.55);
    padding-top: 7px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 7px;
    width: 600px;
    height: 650px;
    margin-right: auto;
    margin-left: auto;
    
}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
   
}

.buttonsend {
    height: 40px;
    width: 100px;
    border: 2px solid #C79E7C;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color:#C79E7C ;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    
}

.buttonsend:hover {
    border: 1px solid #C79E7C;
    box-shadow: 0px -1px 13px -4px rgba(0,0,0,0.75);
    background-color: #d6af8f;
    transition: 0.2s;
}

.buttonsend:focus {
    outline: 0;
}

#text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #353737;
    border: 1px solid #353737;
    padding: 10px; 
}

#text:focus {
    outline: 0;
}

label {
    color: #C79E7C;
    padding: 7px 7px 7px 0px;
    font-size: 14px;
}

form input {
    border: none;
    border-bottom: 1px solid #353737;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #353737;
    
}

form input:focus {
    outline: 0;
}

input::-webkit-input-placeholder {
    color:#afafaf;
}
textarea::-webkit-input-placeholder {
    color: #afafaf;
}

footer {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* MEDIA QUERIE */

@media all and (max-width: 1024px)
{
    body {
        font-size: 19px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu div {
        margin: 7px;
    }

    .services h2 {
        font-size: 20px;

    }

    .jumbotron {
        display: none;
        
    }

    .block_description {
        
        width: auto;
        height: auto;
        margin: 10px 10% 10px 10%;

        padding: 10px 20px 10px 20px; 
    }

    
    .services {
        flex-direction: column;
        
    }

    .dom {
        width: auto;
        max-height: auto;
        padding: 5%;
    }

    .struc {
        width: auto;
        max-height: auto;
        padding: 5%;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .formulaire {
        height: 70%;
        width: 70%;
        margin: 10px 10% 10px 10%;

    }

    .map-responsive 
    {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    
    }
    
    .map-responsive iframe 
    {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    }

    body {
        margin: 0;
        
    }
}